{% extends 'base.html' %}
{% load humanize %}

{% block page-subtitle %}{{ blogpost.title }} | Updates | {% endblock %}


{% block main %}
<ul>
{% for blogpost in blogpost_list %}
    <li>
    <a href="{{ blogpost.get_absolute_url }}">{{ blogpost.title }}</a>
    {% for author in blogpost.users.all %}
    <div property="schema:author" typeof="schema:Person">
        <a property="schema:url" href="{{ author.profile.get_absolute_url }}">
        <span property="schema:name">{{ author.get_full_name|default:author.username }}</span></a>
    </div>
    {% endfor %}
    <div>{{ blogpost.publish_date|naturalday }}</div>
    </li>
{% endfor %}
</ul>
{% endblock %}
