{% extends 'base.html' %}
{% load humanize %}

{% block page-subtitle %}{{ blogpost.title }} | Updates | {% endblock %}



{% block main %}
<h3>Archives</h3>
<ul>
{% for archive_date in date_list %}
    <li><a href="{% url 'blog:by-year' year=archive_date.year %}">{{ archive_date.year }}</a></li>
{% endfor %}
</ul>

<ul>
{% for blogpost in latest %}
{# TODO: convert to snippet  #}
    <li>
    <a href="{{ blogpost.get_absolute_url }}">{{ blogpost.title }}</a>
    {% for author in blogpost.users.all %}
    <div property="schema:author" typeof="schema:Person">
        <a property="schema:url" href="{{ author.profile.get_absolute_url }}">
        <span property="schema:name">{{ author.get_full_name|default:author.username }}</span></a>
    </div>
    {% endfor %}
    <div>{{ blogpost.publish_date|naturalday }}</div>
    </li>
{% endfor %}
</ul>
{% endblock %}
