@import "grid-settings";
@import "neat/neat";
body {
    @include pad(10px 0 0 0);
    section {
    @include outer-container;
    background-color: lightyellow;
    div.column {
        @include span-columns(3);
        article {
          @include row($display: default, $direction: LTR);
          max-height: 300px;
          background-color: lightblue;
          text-overflow: ellipsis;
          @include pad(5px 0 0 0);
        }

    }
    }
}
