@import "grid-settings";
@import "neat/neat";
body {
    section {
    margin: 20 20 20 20;
    background-color: lightgray;  
    @include outer-container;
    @include pad(5px 5px 5px 5px);
    div.column {
        @include span-columns(3);
        article {
          @include row($display: default, $direction: LTR);
          max-height: 300px;
          background-color: lightblue;
          text-overflow: ellipsis;
        }

    }
    }
}
