django>=1.11
Mezzanine>=4.2.1
django-compressor
mysqlclient
django-admin-sortable2
django-taggit
# use develop branch of pucas until we have an initial release
git+https://github.com/Princeton-CDH/django-pucas.git@develop#egg=pucas
python-dateutil
