{% extends 'base.html' %}

{% load pages_tags mezzanine_tags i18n staticfiles keyword_tags disqus_tags %}


{% block extra_css%}


h1 {
    font-family:'Brown Std Regular';
    font-color: black;
    font-size: 58px;
    line-height: 68px;
    text-align: center;
}

p {

    font-family: 'Lyon Text Web';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-size: 20px;
    text-align: center;

}

{% endblock %}

{% block maincontent %}
<div class='row'><div class='col-xs-12' 
                      style='height: 100px'></div></div>
<div class='row'><div class='col-xs-12'>
    
        <h1>Coming Soon</h1>
        <p>Please visit again later.</p>
    
    
    
    </div>


</div>

<div class='row'><div class='col-xs-12' 
                      style='height: 200px'></div></div>
</div>

{% endblock %}