{% extends 'base.html' %}

{% block extra_css %}
{% load pages_tags %}

h3 {

    font-family:'Brown Std Bold';
    font-color: black;
    font-size: 18px;

}

h4 {
    font-family: 'Brown Std Regular';
    font-color: #646464;
    font-size: 16px;
    line-height: 22px;

}


.box-italic {
    font-family: 'Lyon Text Web';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    font-size: 15px;
    font-color: #646464;
    line-height: 17px;
}

.bottom-text {
    position: absolute;
    bottom: 0;
    left: 5px;
}

.top-text {
    position: absolute;
    top: 0;
    left: 5px;
}

p {
font-family: 'Lyon Text Web', Georgia, serif;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-size: 18px;
    line-height: 36px;
}

.unstyled, .unstyled:hover, .unstyled:visited {
    color: black;
    text-decoration: none;
}


{% endblock %}

{% block maincontent %}
<div class='row'><div class='col-xs-12' style='height: 100px;'></div></div>

    <div class='row'>

           <div class='col-xs-3'>
	                {% page_menu 'side_menu.html' %}

	       </div>



        <div class='col-xs-9' style='padding: 0 0 0 0'>
            
            {% for event in events %}
                <a class='unstyled' href='/events/{{event.pk}}/'>
                   <div class='text-frame'>
                    <div class='top-text'>
                        <h4>{{ event.event_data.event_start_time|date:"F d" }}</h4>
                        <h4>{{ event.event_data.event_start_time|date:"h:i A"  }}-{{ event.event_data.event_end_time|date:"h:i A" }}</h4>
                    </div>   
                    
                    <div class='bottom-text'>
                        <span class='box-italic'>{{ event.event_data.event_sponsor }}</span>
                        <h3>{{ event.event_data.event_title }}</h3>
                    </div>
                </div>
                </a>    
                
        
            {% endfor %}
            
        </div>

</div>
</div>
<div class='row'><div class='col-xs-12' style='height: 300px;'></div></div>

{% endblock %}
