{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n staticfiles keyword_tags disqus_tags %}

{% block extra_css %}

h3 {

    font-family:'Brown Std Bold';
    font-color: black;
    font-size: 18px;

}

h4 {
    font-family: 'Brown Std Regular';
    font-color: #646464 !important;
    font-size: 16px;
    line-height: 22px;

}


.box-italic {
    font-family: 'Lyon Text Web';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    font-size: 15px;
    font-color: #646464;
    line-height: 17px;
}

.bottom-text {
    position: absolute;
    bottom: 0;
    left: 5px;
    font-family: "Brown Std Regular";
    font-size: 15px;
}


.no-fade, .no-fade:hover {
    opacity: 1 !important;

}

.top-text {
    position: absolute;
    top: 0;
    left: 5px;
}

p {
font-family: 'Lyon Text Web', Georgia, serif;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-size: 18px;
    line-height: 36px;
}

.unstyled, .unstyled:hover, .unstyled:visited {
    color: black;
    text-decoration: none;
}

.box-link, .box-link:hover {
    color: black;
    text-decoration: none !important;


}

.box-italic {
    font-family: 'Lyon Text Web';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    font-size: 15px;
    font-color: #646464;
    line-height: 17px;
}

{% endblock %}


{% block maincontent %}

<div class='row'><div class='col-xs-12' style='height: 150px;'></div></div>

<div class='row'>
        <div class='col-xs-3'>
        <img src='{% static "img/CDH_logo_01.svg" %}'
             style='position: fixed; width: 200px; height: auto;'
             alt='CDH Logo'>
            </div>


    <div class='col-xs-9' style='padding: 0px 0px 0px 0px;'>

                <br />
                <br />

                 {% for project in projects %}
            <a class='box-link' href='{{ project.get_absolute_url }}'>
	        <div class='project-box'>
                <div class='title-box'>
                    <div class='title-text'>
                        {{ project.project_data.project_title }}
                             {% if project.project_data.project_subtitle != None %}
                        <h5 class='box-italic'>{{ project.project_data.project_subtitle}}</h5>
                        {% endif %}
                    </div>
                            </div>
                            <div class='image-holder'>
                                {% if project.override_image %}
                                <img alt='{{project.project_data.project_title}}'
                                class='main-image'
                                src='{{MEDIA_URL}}{{project.override_image}}'>
                                {% else %}
                                <img class='main-image'
                                alt='{{project.project_data.project_title}}'
                                src='{{MEDIA_URL}}{{project.project_image}}'>
                                {% endif %}
                            </div>
                            </div>
            </a>

                {% endfor %}

                {% for event in events %}
                <a class='unstyled' href='/events/{{event.pk}}/'>
                   <div class='text-frame'>
                    <div class='top-text'>
                        <h4>{{ event.event_data.event_start_time|date:"F d" }}</h4>
                        <h4>{{ event.event_data.event_start_time|date:"h:i A"  }}-{{ event.event_data.event_end_time|date:"h:i A" }}</h4>
                    </div>

                    <div class='bottom-text'>
                        <span class='box-italic'>{{ event.event_data.event_sponsor }}</span>
                        <h3>{{ event.event_data.event_title }}</h3>
                    </div>
                </div>
                </a>

                {% endfor %}

            <div class='project-box'></div>
            <div class='project-box'></div>


            <a class='unstyled' href='mailto:dhi@princeton.edu'>
                <div class='no-fade project-box '>
                        <div class='no-fade title-box'>
                            <div class='no-fade title-text'>
                                Contact

                                <div class='bottom-text no-fade'>
                                Firestone Library Floor B<br />
                                Princeton University<br/>
                                dhi@princeton.edu<br />
                                </div>
                                </div>

                            </div>
                                <img class='main-image' style='height: 176px; width: 235px;' src='{%static "img/stripeShadow.svg" %}'>
                                    </div>

                        </a>

    </div>
</div>
</div>
<div class='row'><div class='col-xs-12' style='height: 300px;'></div></div>

{% endblock %}
