{% extends "base.html" %}

{% block extra_css %}
{% load pages_tags %}


.box-link, .box-link:hover {
    color: black;
    text-decoration: none !important;


}

.box-italic {
    font-family: 'Lyon Text Web';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    font-size: 15px;
    font-color: #646464;
    line-height: 20px;
}

{% endblock %}


{% block maincontent %}

    <div class='row'><div class='col-xs-12' style='height: 100px;'></div></div>

    <div class='row'>

    <div class='col-xs-3' style='height: 100%;'>
	                {% page_menu 'side_menu.html' %}

	</div>


    <div class='col-xs-9' style='padding: 0px 0px 0px 0px;'>
        {% for project in projects %}
        <a class='box-link' href='{{project.get_absolute_url }}'>
	<div class='project-box'>
            <div class='title-box'>
                    <div class='title-text'>
                        {{ project.project_data.project_title }}
                        {% if project.project_data.project_subtitle != None %}
                        <h5 class='box-italic'>{{ project.project_data.project_subtitle}}</h5>
                        {% endif %}

                    </div>
                            </div>
                            <div class='image-holder'>
                                {% if project.override_image %}
                                <img class='main-image' src='{{MEDIA_URL}}{{project.override_image}}'>
                                {% else %}
                                <img class='main-image' src='{{MEDIA_URL}}{{project.project_image}}'>
                                {% endif %}
                            </div>
        </div>
        </a>


        {% endfor %}

				</div>





<!--Spacer for content-->

</div>
</div>
    <div class='row'><div class='col-xs-12' style='height: 300px; width: 100%:'></div></div>

{% endblock %}
