{% extends "pages/page.html" %}

{% block extra_css%}

p {
font-family: 'Lyon Text Web', Georgia, serif;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-size: 18px;
}

h3 {

    font-family:'Brown Std Bold';
    font-color: black;
    font-size: 18px;

}

h4 {
    font-family: 'Brown Std Regular';
    font-color: black;
    font-size: 16px;
    line-height: 22px;

}

h1 {
    font-family:'Brown Std Bold';
    font-color: black;
    font-size: 22px;

}

{% endblock %}

{% load mezzanine_tags %}


{% block maincontent %}{{ block.super }}

{% editable page.richtextpage.content %}
{{ page.richtextpage.content|richtext_filters|safe }}
{% endeditable %}

{% endblock %}
