{% extends 'base.html' %}

{% load pages_tags %}

{% block extra_css %}


.profile_block {

    width: 235px;
    height: 255px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    z-index: 9;
    margin-right: 10px;
    margin-bottom: 10px;
}

.title_text {
    font-family: 'Lyon Text Web';
        font-weight: 400;
        font-style: italic;
        font-stretch: normal;
        font-size: 15px;
        font-color: #646464 !important;
}

.name_text {
    font-family:'Brown Std Bold';
    font-color: black;
    font-size: 18px;
}

.profile_image {
    position: absolute;
    top: 0px;
    width: 235px;
    height: 176px;
}

.bottom_text {
    position: absolute;
    bottom: 0;
    left: 5px;
}

.unstyled-link {
    color: black;
    text-decoration: none;
}

.unstyled-link:hover {
    color: black !important;
    text-decoration: none;
    background-color: transparent !important;
}

{% endblock %}


{% block maincontent %}


    <div class='row'><div class='col-xs-12' style='height: 100px;'></div></div>

    <div class='row'>

    <div class='col-xs-3' style='height: 100%;'>
        {% page_menu 'side_menu.html' %}

</div>

        <div class='col-xs-9'>

            {% for staffer in staffers %}
                <a href='{{ staffer.get_absolute_url }}'
                   class='unstyled-link'><div class='profile_block'>
                    <img alt='A photo of staffer.staffer_data.name'
                    class='profile_image' src='{{MEDIA_URL}}{{staffer.staffer_data.photo}}'/>
                    <div class='bottom_text'>
                        <p><span class='title_text'>{{ staffer.staffer_data.title }}</span><br />
                            <span class='name_text'>{{ staffer.staffer_data.name }}</span></p>
                    </div>
                </div>
              </a>
            {% endfor %}


        </div>

    </div>
</div>

<div class='row'><div class='col-xs-12' style='height: 300px;'></div></div>


{% endblock %}
