{% extends 'base.html' %}

{% block extra_css %}

{% load pages_tags %}


h3 {

    font-family:'Brown Std Bold';
    font-color: black;
    font-size: 18px;

}

p {
 font-family: 'Lyon Text Web';
    font-weight: 400;
    font-stretch: normal;
    font-size: 20px;
    font-color: black;
    line-height: 36px;
}

.unstyled, .unstyled:hover, .unstyled:visited {
    color: black;
    text-decoration: none;
}

.rtf-content a, a:visited {
    color: black !important;
    text-decoration: none !important;
}

.rtf-content a:hover {
    background-color: #00EDFF !important;
    text-decoration: none !important;
}

.uploads a, a:visited {
    color: black !important;
    text-decoration: none !important;
}

.uploads a:hover {
    background-color: #00EDFF !important;
    text-decoration: none !important;
}

.uploads {
  font-family:'Brown Std Bold';
  font-color: black;
  font-size: 18px;
}

{% endblock %}

{% block maincontent %}

<div class='row'><div class='col-xs-12' style='height: 100px;'></div></div>
    <div class='row'>

        <div class='col-xs-3' style='height: 100%;'>
                {% page_menu 'side_menu.html' %}


    </div>

        <div class='col-xs-9' style='overflow: visible;'>

	{% if page.stocklandingpage.image  %}
<img alt='Page banner image'
src='{{MEDIA_URL}}{{ page.stocklandingpage.image }}' style='width:100%;
overflow: hidden; margin-bottom: 80px;' />
       {% endif  %}

            <div class='rtf-content' style='padding-right: 150px;'>
        {{ page.stocklandingpage.content|safe }}
            </div>

            <div class='uploads' style='padding-right: 150px;'>
              {% for attach in page.stocklandingpage.fileattachment_set.all %}
                  <a href='{{ MEDIA_URL }}{{ attach.attached_file.path }}'>
                    {{ attach.display_name }} [{{ attach.attached_file.extension|upper }}]
                  </a>
                  <br />
              {% endfor %}
            </div>

</div>
</div>

    <div class='row'><div class='col-xs-12' style='height: 300px; width: 100%:'>
    </div></div>
</div>
{% endblock %}
