@import "grid-settings";
@import "neat/neat";

body {
	padding: 0px;
	margin: 0px;
}

div.bleed-image-placeholder {
  width: 100%;
  height: 300px;
  max-width: 1440px;
  z-index: -5;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  margin-top: 90px; 
  margin-left: auto;
  margin-right: auto;
}

header {
	background-color: lightyellow;
	width: 100%;
	height: 90px;
	max-width: 1440px;
	position: fixed;
  text-align: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
	transition: margin-top 0.25s;
	transition-timing-function: ease-in-out;
	&.hidden {
		margin-top: -90px;	
	}
}




section {
  @include responsive-container;
  max-height: 3000px;
  overflow: hidden;
  div.column {
    @include span-columns(1);
    @include omega(12n);
    background-color: lightblue;
    height: 3000px;

    @include media($medium) {
      @include span-columns(1);
      @include omega(9n);
      background-color: lightblue;
      height: 3000px;
    }

    @include media($small) {
      @include span-columns(1);
      @include omega(1n);
      background-color: lightblue;
      height: 3000px;
    }
  }
}

footer {
	height: 246px;
	max-width: 1440px;
	width: 100%;
	position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
	z-index: -5;
	overflow: hidden;
}
