# This file is exec'd from settings.py, so it has access to and can
# modify all the variables in settings.py.

# If this file is changed in development, the development server will
# have to be manually restarted because changes will not be noticed
# immediately.

DEBUG = True

# Make these unique, and don't share it with anybody.
SECRET_KEY = "wc9yui#o3$g8(c$ju7e^lds)@)$!^x9()i#yhq*vf1$hd38p)p"
NEVERCACHE_KEY = "ck_r5u*_x#h)du$qew_9#4i*u!g8*pi=t_1y1rwjnbx&jrrqeh"

DATABASES = {
    "default": {
        # Ends with "postgresql_psycopg2", "mysql", "sqlite3" or "oracle".
        "ENGINE": "django.db.backends.mysql",
        # "ENGINE": "django.db.backends.sqlite3",
        # DB name or path to database file if using sqlite3.
        # "NAME": "dev.db",
        "NAME": "cdhweb",
        # Not used with sqlite3.
        "USER": "cdhweb",
        # Not used with sqlite3.
        "PASSWORD": "pass!@#$",
        # Set to empty string for localhost. Not used with sqlite3.
        "HOST": "",
        # Set to empty string for default. Not used with sqlite3.
        "PORT": "",
    }
}

DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "dev.db",
    }
}

# configure ldap servers, search base, and filter
PUCAS_LDAP.update({
    'SERVERS': [
        'ldap1',
        'ldap2',
        'ldap3'
    ],
    'SEARCH_BASE': '',
    'SEARCH_FILTER': "(uid=%(user)s)",
})


###################
# DEPLOY SETTINGS #
###################

# Domains for public site
ALLOWED_HOSTS = ["*"]

# These settings are used by the default fabfile.py provided.
# Check fabfile.py for defaults.

# FABRIC = {
#     "DEPLOY_TOOL": "rsync",  # Deploy with "git", "hg", or "rsync"
#     "SSH_USER": "",  # VPS SSH username
#     "HOSTS": [""],  # The IP address of your VPS
#     "DOMAINS": ALLOWED_HOSTS,  # Edit domains in ALLOWED_HOSTS
#     "REQUIREMENTS_PATH": "requirements.txt",  # Project's pip requirements
#     "LOCALE": "en_US.UTF-8",  # Should end with ".UTF-8"
#     "DB_PASS": "",  # Live database password
#     "ADMIN_PASS": "",  # Live admin user password
#     "SECRET_KEY": SECRET_KEY,
#     "NEVERCACHE_KEY": NEVERCACHE_KEY,
# }
