{% extends "base.html" %}

{% block main %}
<section class="projects">
<h2>People</h2>
{% for profile in object_list %}
    <div class="card profile"
        {% if profile.image %}style="background-image:url('{{ MEDIA_URL }}{{ profile.image }}')"{% endif %}>
{# {% if project.thumb %}style="background-image:url('{{ MEDIA_URL }}{{ project.thumb }}')"{% endif %}> #}
    <a href="{{ profile.get_absolute_url }}">
    <div class="content">
        <p class="title">{{ profile.current_title }}</p>
        <p class="name">{{ profile.title }}</p>
    </div>
    </a>
</div>
{% endfor %}
</section>
{% endblock %}

