{% extends 'base.html' %}
{% load mezzanine_tags %}

{% block page-subtitle %}{{ event.title }} | Events | {% endblock %}

{% block main %}
<div typeof="schema:Event">

<img property="schema:image" src="{{ MEDIA_URL }}{{ event.image }}"/>

    <h1 property="schema:name">{{ event.title }}</h1>

<meta property="schema:url" content="{{ event.get_absolute_url }}"/>
{# FIXME: do we need full url here? #}

<p>{{ event.event_type }}</p>
<p><a href="{{ event.get_ical_url}}">
    <i class="fa fa-calendar" aria-hidden="true"></i></a>
<div>
{% for person in event.speakers.all %}
    {# performer == presenter #}
    <div property="schema:performer" typeof="schema:Person">
        <span property="schema:name">{{ person.profile.title }}</span>
        {# TODO: link to staff profile or guest speaker page when we have it  #}
    </div>
{% endfor %}
</div>

<meta property="schema:startDate" content="{{ event.start_time|date:'c' }}"/>
<meta property="schema:endDate" content="{{ event.end_time|date:'c' }}"/>
<div>{{ event.when }}</div>

{% editable event.content %}
<div property="schema:description">{{ event.content|richtext_filters|safe }}</div>
{% endeditable %}

<div property="schema:location" typeof="schema:Place">
    <h2 property="schema:name">{{ event.location.name }}</h2>
    <div property="schema:address">{{ event.location.address}}</div>
</div>

</div>
{% endblock %}


