{% load mezzanine_tags i18n %}
<li><a class='btn btn-default' type='button' style='border: none;' data-toggle='popover' data-trigger='click' data-placement="auto" data-content=
    '<form class="form-inline" action="{% url "search" %}"><div class="form-group"><input type="text" class="form-control" name="q" value="{{ request.REQUEST.q }}"></div><input type="submit" value="Search" style="visibility: hidden"></div></form>' data-html='true' data-title='Search' role='button' tabindex='0'>
    
    
        <span class='glyphicon glyphicon-search' id='noeffect' style='color: black; opacity: 1;'></span>
                            </a>
                            
      