{% load pages_tags i18n %}
{# adapted from mezzanine pages/menus/primary.html template #}

<section>
    <ul class='first-row'>
        {# top-level pages #}
        {% for page in page_branch %}
            {% if page.in_menu %}
            <li id="primary-menu-{{ page.html_id }}">
                <a href="{{ page.get_absolute_url }}"
                   {% if page.is_current_or_ascendant %}class="current-page"{% endif %}>
                    {{ page.title }}</a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
    <ul class='horizontal-rule' aria='hidden'></ul>
    {# pages in the menu for the currently active section of the site#}
    {% for page in page_branch %}
        {% if page.in_menu and page.is_current_or_ascendant %}
            {% page_menu page "snippets/secondary_navigation.html" %}
        {% endif %}
    {% endfor %}
</section>
