{% extends 'base.html' %}

{% load pages_tags mezzanine_tags i18n staticfiles keyword_tags disqus_tags %}


{% block extra_css%}


h1 {
    font-family:'Brown Std Regular';
    font-color: black;
    font-size: 58px;
    line-height: 68px;
    text-align: center;
}

p {

    font-family: 'Lyon Text Web';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-size: 20px;
    text-align: center;

}

{% endblock %}

{% block maincontent %}

<div class='row'><div class='col-xs-12'>

        <h1>500</h1>
        <p>Our server managed to produce a rubber chicken, along with an HTTP
        500 server error.</p>

        <img src='{% static "img/rubberchicken.png"  %}'
             style='height: 327px; width: auto; margin: auto; display: block;'/>


    </div>


</div>
</div>

{% endblock %}
