{% load static pages_tags mezzanine_tags %}
<!DOCTYPE html>
<html lang='en' xmlns:schema="http://schema.org/">

<head>
    <meta charset='UTF-8'>
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block page-subtitle %}{% if page.title %}{{ page.title|add:" | " }}{% endif %}{% endblock %}CDH @ Princeton</title>

    {% compress css %}
    <link type="text/x-scss" rel="stylesheet" href="{% static 'css/base.scss' %}" charset="utf-8">
    {# <link rel='stylesheet' type='text/css' href='{% static "css/base-prefixed.css" %}'> #}
    {% endcompress %}

    <script src="https://use.fontawesome.com/46070f4452.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="{% static 'js/local.js' %}"></script>

    <script>
        var scroll = 0;
        /*
        	Check every time the window scrolls. If it's by 25px or more and
          the scroll is below 90px, hide the navi. If the scroll down isn't
          those, leave it as is.
          If the scroll is up by 5 px, bring the menu back.
        */
        $(window).scroll(function()
        {
            scrolled = $(document).scrollTop();
            if (scrolled - scroll > 25 && scrolled > scroll && scrolled >
                90)
            {
                $('header').addClass('hidden');
            }
            else if (scrolled > scroll)
            {
                // Do nothing since the scroll was either
                // too high or not 'enough'
            }
            else if (scrolled < scroll && scroll - scrolled > 5)
            {
                $('header').removeClass('hidden');
            }

            scroll = scrolled;

        });
    </script>

</head>

<body>
    <a href='#mainmenu' aria-label='Main Menu'></a>
    <a href='#maincontent' aria-label='Main Content'></a>
    <a href='#footermenu' aria-label='Footer Menu'></a>

    <header class="nav">
        <nav id='mainmenu'>
            <a href='{% url 'home' %}' class='home-page'>
              <img
              alt='CDH Logo'
              src='{% static "img/CDH_logo.svg" %}' />
            </a>
            {% page_menu "snippets/primary_navigation.html" %}
        </nav>
    </header>
    {% include 'snippets/test_banner.html' %}

  </div>
</div>
    {% block content %}
    {% block content-header %}
    <div class='spacer'></div>   {# TODO: what is this for? needs to be adjusted #}
    {% endblock %}
    <div id='maincontent'>
        {% block main %}{% endblock %}
    </div>
    {% endblock content %}

    <footer id='footermenu'>
        <section>
            {% page_menu "snippets/footer_menu.html" %}

            <ul>
                <li class='menu-header'><a href='#'>CONTACT AND DIRECTIONS</a></li>
                <li class='menu-header'><a href='#'>FAQS</a></li>
                <li class='menu-header'><a href='#'>SUBSCRIBE</a></li>
                <li><a href='#'><span class='fa fa-facebook-square'
                    aria-label='CDH Facebook Link'>
              </span></a>
                    <a href='#'><span class='fa fa-twitter'
                    aria-label='CDH Twitter Link'>
              </span></a>
                </li>

            </ul>

            {# testing: RDFa markup for organization and address #}
            <p class='contact-info' typeof="schema:Organization">
               {# TODO: pass in site url <a href="" property="url"> #}
                <span property="schema:name">Center for Digital Humanities</span><br />
                <span property="schema:address" typeof="schema:PostalAddress">
                <span property="schema:streetAddress">Firestone Library Floor B<br />
                Princeton University</span><br />
                <span property="schema:addressLocality">Princeton</span>, <span property="schema:addressRegion">NJ</span> <span property="schema:postalCode">08544</span><br />
                </span>
                <br />
                ©2015 Trustees of Princeton University
            </p>
        <div id="sw-version">v. {{ SW_VERSION }}</div>
        </section>

    </footer>


</body>

</html>
