<html>

<head>
    <link rel='stylesheet' type='text/css' href='base.css'>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>

    <script>
        var scroll = 0;
        /*
        	Check every time the window scrolls. If it's by 25px or more and the scroll
        	is below 90px, hide the navi. If the scroll down isn't those, leave it as is.
        	If the scroll is up by 5 px, bring the menu back.
        */
        $(window).scroll(function()
        {
            scrolled = $(document).scrollTop();
            if (scrolled - scroll > 25 && scrolled > scroll && scrolled >
                90)
            {
                $('header').addClass('hidden');
            }
            else if (scrolled > scroll)
            {
                // Do nothing since the scroll was either too high or not 'enough'
            }
            else if (scrolled < scroll && scroll - scrolled > 5)
            {
                $('header').removeClass('hidden');
            }

            scroll = scrolled;

        });
    </script>

</head>

<body>

  
    <header>
        <nav>
          <a href='#' class='home-page'><img src='CDH_logo_01.svg'></a> 
          </div>
          <section>
          <ul class='first-row'>
            <li>ABOUT</li>
            <li>RESEARCH</li>
            <li>GRANTS</li>
            <li>RESOURCES</li>
            <li>COMMUNITY</li>
            <li>UPDATES</li>
            <li>EVENTS</li>
            <li>SEARCH</li>
          </ul> 
          <ul class='horizontal-rule'></ul> 
          <ul>
          <li>New to DH</li>
          <li>Certificates and Courses</li>
          <li>Reading Group Zotero Feed</li>
          <li>DH Events<li>
        </ul>
          </section>

      </nav>  

    </header>
    
</body>

</html>
