{% extends 'base.html' %}

{% load pages_tags %}

{% block extra_css %}

h1 {
    font-family: 'Brown Std Bold';
    font-size: 28px;
    line-height: 36px;
    margin-top: 50px;

}

h2 {
    
    font-family: 'Lyon Text Web';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    font-size: 24px;
    font-color: #646464;
    line-height: 36px;

}

h3 {

    font-family:'Brown Std Bold';
    font-color: black;
    font-size: 18px;

}

h4 {
    font-family: 'Brown Std Regular';
    font-color: #646464cd ;
    font-size: 16px;
    line-height: 22px;

}


.event-description {

    font-family: 'Lyon Text Web';
    font-weight: 400;
    font-stretch: normal;
    font-size: 20px;
    font-color: black;
    line-height: 36px;
}

   #icaltag {
            color: black;
        }
        
    #icaltag:hover {
            color: #00EDFF;
        }

{% endblock %}

{% block maincontent %}
  <div class='row'><div class='col-xs-12' style='height: 100px;'></div></div>

    <div class='row'>

            <div class='col-xs-3' style='height: 100%;'>
	                {% page_menu 'side_menu.html' %}

	</div>

    <div class='col-xs-9'>
        
                
            {% if event.event_image %}
        
            <img src='{{MEDIA_URL}}{{event.event_image}}' style='max-height: 497px; width: auto;'/>

                                    {% endif %}

        
            <h1>{{ event.event_title }}</h1>
            <h2>{{ event.event_sponsor }}</h2>
        
            
        
            <br />
            <br />
        
        <h4>{{ event.event_start_time|date:"F d" }} {{ event.event_start_time|date:"h:i A"  }} - {{ event.event_end_time|date:"h:i A" }}
            </h4>
        <h4>Location: {{ event.event_location }}</h4>    
            <br />
            <a href='{% url "ical_event" event.pk  %}' id='icaltag'><i class='fa fa-calendar' aria-hidden='true' style='font-size: 18px; margin-left: 5px;'></i> iCal</a>
        <br />
        <br />
        <div class='event-description'>
        {{ event.event_description|safe }}   
        </div>    
            </div>
        
        

</div>
</div>
    <div class='row'><div class='col-xs-12' style='height: 300px; width: 100%:'></div></div>

{% endblock %}