{% extends 'base.html' %}
{% load pages_tags %}

{% block extra_css %}

    p {

    font-family: 'Lyon Text Web', Georgia, serif;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-size: 20px;
    line-height: 36px;
    }

    h1 {
        font-family: 'Brown Std Regular';
        font-size: 36px;
    
    }

    h3 {
    font-family: 'Lyon Text Web';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    font-size: 20px;
    line-height: 36px;
    }

    .project-title {
        font-family: 'Lyon Text Web';
        font-weight: 400;
        font-style: italic;
        font-stretch: normal;
        font-size: 22px;

    }

    .member-name {
        font-family: 'Brown Std Regular';
        font-size: 18px;
        
    }


{% endblock %}

{% block maincontent %}

<div class='row'><div class='col-xs-12' style='height: 150px'></div></div>


 <div class='col-xs-3' style='height: 100%;'>
	                {% page_menu 'side_menu.html' %}

	</div>



<div class='col-xs-9'>

    <div class='row'>
        <div class='col-xs-12' style='overflow: hidden;'>
				{% if project.override_image %}
				<img src='{{MEDIA_URL}}{{project.override_image}}' style='max-width: 100%; height: auto;'/>
				{% elif project.project_image %}				
				<img src='{{MEDIA_URL}}{{project.project_image}}' style='max-width: 100%; height: auto;'/>
				{% endif %}
        </div>
    </div>
    
    <div class='row' style='margin-top: 80px;'>
        <div class='col-xs-12'>
        <h1>{{ project.project_data.project_title }}</h1>
        </div>
    </div>    
    
    <div class='row'>
        <div class='col-xs-12'>
            <h3>{{ project.project_data.project_summary|safe }}</h3>
        </div>
        
    </div>
    <div class='row'>    
        <div class='col-xs-12'>
        {{ project.project_data.project_description|safe }}
        </div>
    </div>    
    <div clas='row'><div class='col-xs-12' style='height: 200px;'></div></div>
    <div class='row'>
        <div class='col-xs-12'>
        <ul class='list-unstyled'>
        {% for member in members %}
            <li class='project-title'>{{ member.project_role.title }}</li>
            <li class='member-name'>{{ member.name }}</li>
            <li><br /></li>
            
        {% endfor %}
        </ul>    
            
        </div>    
    </div>
</div>

<!--Spacer for content-->
    <div class='row'><div class='col-xs-12' style='height: 300px; width: 100%:'></div></div>

</div>



{% endblock %}
