{% load pages_tags %}

<div class='sidebar'>
        <ul class='list-unstyled'>
            {% for page in page_branch %}
	    {% if page.is_current_or_ascendant and page.is_primary == False %}
	    <li><a href='{{ page.get_absolute_url }}'>{{ page.title }}</li></a>
            {% elif page.is_current_sibling and page.is_primary == False %}
            <li><a href='{{ page.get_absolute_url }}'>{{ page.title }}</li></a>
            {% elif page.is_current_child %}
	    <li><a href='{{ page.get_absolute_url }}'>{{ page.title }}</li></a>
       	    {% endif %}
            {% page_menu page %}
            {% endfor %}
        </ul>
        </div>
