{% extends 'base.html' %}

{% block extra_css %}

{% load pages_tags %}

{% load email_filters %}


h3 {

    font-family:'Brown Std Bold';
    font-color: black;
    font-size: 18px;

}

p {
 font-family: 'Lyon Text Web';
    font-weight: 400;
    font-stretch: normal;
    font-size: 20px;
    font-color: black;
    line-height: 36px;
}

.staffer-name {

    font-family: 'Brown Std Bold';
    font-color: black;
    font-size: 28px;
    line-height: 36px;

}

.staffer-title {
    font-family: 'Lyon Text Web';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    font-size: 24px;
    font-color: #646464;
    line-height: 36px;
    max-width: 575px;
}

.staffer-info {
    font-family: 'Brown Std Regular';
    font-size: 18px;
    line-height: 27px;
    max-width: 575px;
    font-color: #646464;

}

.unstyled, .unstyled:hover, .unstyled:visited {
    color: black;
    text-decoration: none;
}

.rtf-content a, a:visited {
    color: black !important;
    text-decoration: none !important;
}

.rtf-content a:hover {
    background-color: #00EDFF !important;
    text-decoration: none !important;
}


{% endblock %}

{% block maincontent %}

<div class='row'><div class='col-xs-12' style='height: 100px;'></div></div>
    <div class='row'>

        <div class='col-xs-3' style='height: 100%;'>
                {% page_menu page 'side_menu.html' %}


    </div>

        <div class='col-xs-9' style='overflow: visible;'>
        
	{% if staffer.staffer_data.profile_photo  %}    
<img src='{{MEDIA_URL}}{{ staffer.staffer_data.profile_photo }}' style='max-width:745px; overflow: hidden; margin-bottom: 80px;' />    
   {% endif  %} 
            
            <div class='staffer-name'>{{ staffer.staffer_data.name }}</div>
            
    {% if staffer.staffer_data.long_title and staffer.staffer_data.long_title != 'None' %}
            <div class='staffer-title'>{{ staffer.staffer_data.long_title }}</div>
    {% else %}
            <div class='staffer-title'>{{ staffer.staffer_data.title }}</div>
    {% endif %}
            
            
            {% if staffer.staffer_data.education %}
                <div class='staffer-info' style='margin-top: 80px;'>
                    {{ staffer.staffer_data.education }}
                </div>
            {% endif %}
            
            {% if staffer.staffer_data.email %}
            <div class='staffer-info'><span class='obfuscate'>{{ staffer.staffer_data.email|atdot }}</span></div>
            {% endif %}
            {% if staffer.specialties %}
                <div class='staffer-info'>
                    {% for specialty in specialites %}
                    {{ specialty.technology}},&nbsp;
                    {% endfor %}
                </div>
                
            {% endif %}

            
            {% if staffer.extra_content %}
            <div class='rtf-content' style='max-width: 575px; margin-top: 80px;'>
            {{ staffer.extra_content|safe }}
            </div>    
            {% endif %}

            </div>

</div>
</div>

    <div class='row'><div class='col-xs-12' style='height: 300px; width: 100%:'></div></div>

{% endblock %}