{% extends 'base.html' %}

{% load pages_tags mezzanine_tags i18n staticfiles keyword_tags disqus_tags %}

{% block extra_css %}

{% load bootstrap3 %}

h1 {
    font-family:'Brown Std Regular';
    font-color: black;
    font-size: 58px;
    line-height: 68px;
    text-align: center;
}

p {

    font-family: 'Lyon Text Web';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-size: 18px;
    text-align: center;

}

form {
    text-align:center;
}
{% endblock %}


{% block maincontent %}
<div class='row'><div class='col-xs-12' 
                      style='height: 100px'></div></div>
<div class='row'><div class='col-xs-12'>
    
        <h1>Subscribe to the CDH Listserv</h1>
        <div class='row'>
            <div class='col-xs-offset-3 col-xs-6 col-xs-offset-3'>  
        <form action='/subscribe/' method='post' style='text-align: center'>
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button type='submit' class='btn btn-primary' value='Submit'>Subscribe</button>
            {% endbuttons %}
        </form>
                
        <p>Please feel free to subscribe to our listserv to learn about news, information, 
            and events related to Digital Humanities at Princeton.</p>
            </div>
        </div>
    
    
    </div>


</div>
</div>

<div class='row'><div class='col-xs-12' 
                      style='height: 200px'></div></div>


{% endblock %}
