{% extends 'base.html' %}

{% load pages_tags mezzanine_tags i18n staticfiles keyword_tags disqus_tags %}

{% block extra_css %}

{% load bootstrap3 %}

h1 {
    font-family:'Brown Std Regular';
    font-color: black;
    font-size: 58px;
    line-height: 68px;
    text-align: center;
}

p {

    font-family: 'Lyon Text Web';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-size: 18px;
    text-align: center;

}

form {
    text-align:center;
}
{% endblock %}


{% block maincontent %}
<div class='row'><div class='col-xs-12' 
                      style='height: 100px'></div></div>
<div class='row'><div class='col-xs-12'>
    
        <h1>Subscribe to the CDH Listserv</h1>
        <div class='row'>
            <div class='col-xs-offset-3 col-xs-6 col-xs-offset-3'>  
                
        <p>Thanks for registering! You should receive an email notification that you have been added to the listserv within
            24-48 hours.<br /><br />
        Please contact us if you do not.</p>
            </div>
        </div>
    
    
    </div>


</div>
</div>

<div class='row'><div class='col-xs-12' 
                      style='height: 200px'></div></div>


{% endblock %}
