@import "neat/neat-helpers";

//Current settings for the minimum of the large
// viewport content
$column: 55px;
$gutter: 30px;

$grid-columns: 12;
$max-width: 990px;

//Breakpoint grid values
$large_val: 990px;
$medium_val: 735px;
$small_val: 84%;

//Turn on the visual grid
$visual-grid: true;
$visual-grid-color: lightpink;

$large: new-breakpoint(max-width 1440px 12);
$medium: new-breakpoint(max-width 1068px 9);
$small: new-breakpoint(max-width 735px 1);

@import "neat/neat";

@mixin responsive-container {
  @include outer-container(100%);

  @include media($small) {
    @include outer-container($small_val);
  }

  @include media($medium) {
    @include outer-container($medium_val);
  }

  @include media($large) {
    @include outer-container($large_val);
  }
}

@if ($visual-grid) {
  body:before {
    @include responsive-container;
  }
}
