@import "grid-settings";
@import "neat/neat";


section {
  @include responsive-container;
  max-height: 1000px;
  overflow: hidden;
  div.column {
    @include span-columns(1);
    @include omega(12n);
    background-color: lightblue;
    height: 1000px;

    @include media($medium) {
      @include span-columns(1);
      @include omega(9n);
      background-color: lightblue;
      height: 1000px;
    }

    @include media($small) {
      @include span-columns(1);
      @include omega(1n);
      background-color: lightblue;
      height: 1000px;
    }
  }
}
