@import "neat/neat";

// breakpoints and content sizes for large, medium, and small viewports
$medium-max-width: 1068px;
$medium-content-width: 735px;

$small-max-width: 735px;
$small-content-width: 84%;

$large-content-width: 990px;

$gutter: 30px;

// set medium viewport grid as default
$neat-grid: (
    columns: 9,
    gutter: $gutter
);

// large grid for over 1068 px
$large-grid: (
    columns: 12,
    gutter: $gutter,
    media: 1069px
);


