@import "neat/neat-helpers";

//Current settings for the minimum of the large
// viewport content
$column: 55px;
$gutter: 30px;

$grid-columns: 12;
$max-width: 990px;

/* turn on visual grid for debugging */
/*$visual-grid: true;*/

//Breakpoint grid values
$medium_val: 735px;
$small_val: 84%;


$medium: new-breakpoint(max-width 1068px 9);
$small: new-breakpoint(max-width 735px 1);

@import "neat/neat";
/* Create a mix-in with responsive container behavior to use in place of outer-container()
Note that visual-grid must be written manually to follow this behavior since it's
constructed using a background image */
@mixin responsive-container {
  @include outer-container();

  @include media($small) {
    @include outer-container($small_val);
  }

  @include media($medium) {
    @include outer-container($medium_val);
  }
}

