// Variables for the base style sheet
@font-face {
	font-family: 'BrownStdBold';
	src: url('Brown-Bold.otf') format('opentype');
}

@font-face {
	font-family: 'BrownStdRegular';
	src: url('BrownStd-Regular.otf') format('opentype');
}


// Doing most declarations for body text in base SCSS to make sure weightings for fallback fonts correct
@font-face {
	font-family: 'Lyon Text Web';
	src: url('LyonText-Regular-Web.eot');
	src: url('LyonText-Regular-Web.eot?#iefix') format('embedded-opentype'),
			 url('LyonText-Regular-Web.woff2') format('woff2'),
			 url('LyonText-Regular-Web.woff') format('woff');
	font-weight:  400;
	font-style:   normal;
	font-stretch: normal;
}

// Font stacks
$font-stack-headline: BrownStdRegular, arial, sans-serif;
$font-stack-headline-bold: BrownStdBold, bold arial, sans-serif;
$font-stack-body-text: 'Lyon Text Web', Georgia, serif;

// Reused colors
$cdh-blue: #00edff;
$bg-gray: #f8f8f8;
$text-gray: #646464;
