@import "grid-settings";
@import "bourbon/bourbon";
@import "neat/neat";
@import "variables";


body {
	background-color: $bg-gray;
	margin: 0;
	padding: 0;
	font-family: $font-stack-body-text;
	font-size: 20px;
	color: #000000;
	line-height: 1.6;
}

h1, h2, h3, h4 {
	font-family: $font-stack-headline-bold;
	font-weight: bold;
}

h3 {
	font-size: 28px;
	line-height: 1.29;
}

h4 {
	font-size: 20px;
	font-stretch: normal;
}

/* NOTE: labeled as .quote in zeplin, used for blog excerpt/call out in design */
q {
	font-family: Georgia;
	font-size: 21px;
	font-style: italic;
	line-height: 1.52;
	color: $text-gray;
}

/* Caption in zeplin */
figcaption {
	font-family: $font-stack-body-text; /* redundant? body font */
	font-size: 18px;
	font-style: italic;
	line-height: 1.33;
	text-align: center;
	color: $text-gray;
}


/* container with max-width for large, medium, and small viewports */
.responsive-container {
	@include grid-container;
	// can we use grid-collapse here to consume gutters or does it need to be on elements?

	max-width: $large-content-width;
	margin: auto;

    @media (max-width: $medium-max-width) {
    	max-width: $medium-content-width;
    }

    @media (max-width: $small-max-width) {
    	max-width: $small-content-width;
    }

    // NOTE: uncomment for visual debugging
    // @include grid-visual();
    // @include grid-media($large-grid){
	  // @include grid-visual();
    // }
}


div.bleed-image-placeholder {
	width: 100%;
	height: 300px;
	max-width: 1440px;
	background-color: lightpink;
	z-index: -5;
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	margin-top: 90px;
	margin-left: auto;
	margin-right: auto;
}

header.nav {
	width: 100%;
	height: 90px;
	max-width: 1440px;
	position: fixed;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.95);
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	transition: margin-top 0.25s;

	z-index: 10;
	&.hidden {
		margin-top: -90px;
	}
	nav {
		@extend .responsive-container;
		padding-top: 22px;
		display: flex;
		flex-direction: row;
		a.home-page {
			width: 60px;
			height: 44.8px;
			margin-right: 36.2px;
			img {
				flex: auto;
				width: 60px;
				height: 44.8px;
			}
		}
	}
	section {
		display: flex;
		flex-direction: column;
		flex: auto;
		padding: 0;
		ul {
			display: flex;
			flex: auto;
			text-align: left;
			padding: 0;
			width: 100%;
			height: 15px;
			// Make sure margins behave for spacing between rows (~28 px)
			margin-bottom: 14px;
			margin-top: 14px;
			&.first-row {
				margin: 0;
				text-transform: uppercase;
				padding-bottom: 14px;
				border-bottom: solid 1px #d8d8d8;
				height: auto;
			}
			li {
				font-family: $font-stack-headline-bold;
				font-size: 12px;
				color: #000000;
				flex: auto;
				display: inline;
				a {
					color: #000000;
					text-decoration: none;
					padding-bottom: 14px;
					&:focus,
					&:hover,
					&:visited {
						text-decoration: none;
						color: #000000;
					}
					&.current-page {
						border-bottom: 4px;
						border-bottom-color: $cdh-blue;
						border-bottom-style: solid;
					}
				}
			}
		}
	}
}
div.spacer {
	height: 340px;
}

/* mixin for diagonal blue stripes background */
@mixin diagonal-blue-stripes {
	background: repeating-linear-gradient(
	  45deg,
	  white,
	  white 16px,
	  $cdh-blue 4px,
	  $cdh-blue 20px
	);
}

footer {
	padding-top: 150px;
	section {
		@extend .responsive-container;
		height: 261px;
		width: 100%;
		overflow: hidden;
		border-top: 1px;
		border-top-style: solid;
		border-top-color: #d8d8d8;
		p.contact-info {
			position: absolute;
			margin-top: 156px;
			font-family: $font-stack-headline;
			font-size: 12px;
			color: $text-gray;
		}
		ul {
			@include grid-column(2);
			display: flex;
			flex-direction: column;
			padding: 0;
			li {
				display: inline;
				flex: auto;
				color: #000000;
				margin-top: 6px;
				margin-bottom: 6px;
				margin-left: 0;
				font-family: $font-stack-headline;
				font-size: 12px;
				&.menu-header {
					font-family: $font-stack-headline-bold;
					text-transform: uppercase;
				}
				a {
					color: #000000;
					text-decoration: none;
					&:focus,
					&:hover,
					&:visited {
						text-decoration: none;
						color: #000000;
					}
					span.fa {
						font-size: 20px;
						height: 20px;
						width: 20px;
						color: $text-gray !important;
					}
				}
			}
		}
	}
}

article {
	padding-top: 90px;
	width: 100%;
	position: relative;

	.landing-page header {
		/* NOTE: styles currently for landing pages, may need adjustment */
		width: 100%;
		max-width: none;
		height: 680px;
		position: relative;
		z-index: 1;

		font-family: $font-stack-headline;
		font-size: 64px;
		color: #ffffff;
		text-align: left;
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;

	    @media (max-width: $small-max-width) {
  	    	height: 320px;
  	    }

		div {
			padding-top: 336px;
		    @media (max-width: $small-max-width) {
  				padding: 30px;
	  	    }
		}
		a.home {
			color: $cdh-blue;
			display: inline-block;
			font-weight: bold;
			text-decoration: none;
		}
		h1 {
			font-size: 100%;
			display: inline-block;
			margin-bottom: 10px;
		}
		p {
			margin-top: 0;
			font-size: 20px;
			/* FIXME: according to design font should be brown-std-alt ? */
		}
		p::before {
			content: "< ";
			color: $cdh-blue;
		}
		p::after {
			content: " >";
			color: $cdh-blue;
			display: inline;
		}
	}

	div {
		// @extend .responsive-container;
	}

	#maincontent {
		// @extend .responsive-container;
		margin-top: -116px;
		background-color: white;
		z-index: 4;  /* overlap background image from header */
		// padding: 80px 170px 100px;
		position: relative;
		min-height: 250px;

		> * {
			margin-left: 170px;
		}

	    @media (max-width: $medium-max-width) {
  	    	padding: 80px 85px 100px;
	    }

	    @media (max-width: $small-max-width) {
  	    	margin-top: auto;
  	    	padding: 30px 30px 100px;
	    }
	}
}



#maincontent {
	@extend .responsive-container;
}

/* Custom mixin to generate css triangles at top left and bottom right
   to mimic the look of the cdh logo.  Argument is logo shadow width */
@mixin cdhlogo-shadow($width) {
	/* triangle top right */
	&::after {
		height: 0;
		border-top: $width solid $bg-gray;
		border-left: $width solid transparent;
		content: ' ';
		position: absolute;
		right: 0;
		top: 0;
	}

	/* triangle bottom left */
	&::before {
		width: 0;
		height: 0;
		border-bottom: $width solid $bg-gray;
		border-right: $width solid transparent;
		content: ' ';
		position: absolute;
		left: 0;
		bottom: 0;

	}
}

/* card layouts - projects, events */


$event-card-height: 426px;
$event-card-img-height: 240px;

.card {
	position: relative;
	margin-bottom: 50px;
	@include diagonal-blue-stripes;

	h2 {   /* card-head in zeplin */
		font-family: $font-stack-headline-bold;
		font-size: 18px;
		color: #000000;
		margin-top: 0;
	}

	a {
		text-decoration: none;
		color: $text-gray;
		display: block;  /* make the whole card clickable */
		width: 100%;
		height: 100%;
	}

	.content {.  /* card-description font */
		font-family: $font-stack-headline;
		font-size: 16px;
		background-color: white;
	}

	/* event cards */
	&.event {
	    @include grid-column(4);
		@include grid-media($large-grid){
		    @include grid-column(4);
		}
		// todo: make this a mixin/extend?
		@media (max-width: $small-max-width) {
			width: 100%;
			margin-left: 0;
			float: none;
		}

		height: $event-card-height;
		/* background options for when an image is added in the template */
		background-size: cover;
		/* background-position: 50% 50%;  maybe? */
		background-repeat: no-repeat;

		.content {
			position: absolute;
			top: $event-card-img-height;
			width: 100%;
			height: $event-card-height - $event-card-img-height;

			> *  {
				padding-left: 15px;
			}

			h2 {
				padding-top: 15px;
				margin-bottom: 0;
			}

		}

		.event-type {
			position: absolute;
			/* width: 104px; */
			z-index: 5;
			top: -12px;
			left: 15px;
			border: 2px solid $cdh-blue;
			box-shadow: 5px 5px 0px $cdh-blue;
			background-color: white;
			/* TODO:  font style not clear in zeplin */
			font-family: $font-stack-headline;
			font-size: 12px;
			padding: 2px 5px;
		}
		.when {
			position: absolute;
			bottom: 15px;
			left: 15px;
		}
		.time {
			padding-left: 20px;
		}

	} /* end event card */

	/* project cards */
	&.project {
   	 	@include grid-column(3);
		@include grid-media($large-grid){
		    @include grid-column(3);
		}

		@media (max-width: $small-max-width) {
			width: 225px;
			margin-left: 0;
			float: none;
		}

		height: 170px;

		h2 {
			margin-bottom: 0;
		}

		@include cdhlogo-shadow(40px);

		&:hover {
			/* using important to override background image set in template */
		 	background: $cdh-blue !important;
		}
		a {
			background-color: white;
			// full width and height minus border and padding
			width: calc(100% - 40px - 17px - 14px);
			height: calc(100% - 40px - 12px);
			padding: 12px 17px 0 14px;
			margin: 0;
		}

		p {
			font-family: $font-stack-body-text;
			font-style: italic;
			font-size: 15px;
			color: $text-gray;
			line-height: 1.33;
			margin: 0;
			@include ellipsis();
		}

	}

	/* larger project card */
	&.project-large {
   	 	@include grid-column(4);
		@include grid-media($large-grid){
		    @include grid-column(4);
		}

		height: 233px;
		@include cdhlogo-shadow(55px);

		a {
			// full width and height minus border and padding
			width: calc(100% - 55px - 44px - 19px);
			height: calc(100% - 55px - 16px);
			padding: 16px 44px 0 19px;
		}

	}

	/* profile cards */
	&.profile {
   	 	@include grid-column(4);
		@include grid-media($large-grid){
		    @include grid-column(4);
		}
		background: none; /* no blue stripes */
		height: 255px;

		.content {
			margin-top: 176px;
			background-color: 'white';
			height: calc(100% - 176px);

			> * {
				padding-left: 15px;
			}

			.title {
				padding-top: 19px;
				margin: 0;
				font-style: italic;
			}
			.name {
				margin: 0;
				font-weight: bold;

			}
		}

		@media (max-width: $small-max-width) {
			width: 100%;
			margin-left: 0;
			float: none;
		}


		h2 {
			margin-bottom: 0;
		}
	}


}


.homepage section {
	display: block;
	clear: both;
}


@mixin header-with-icon {
	/* font-family: BrownStd-Alt;    ?? */
	font-family: $font-stack-headline;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 54px;
	letter-spacing: normal;
	color: $text-gray;

	height: 54px;
	padding-left: 73px;
	vertical-align: middle;
	margin-bottom: 50px;

	background-repeat: no-repeat;
}

.homepage section > h2 {
	@include header-with-icon;
	a {
		text-decoration: none;
		color: $text-gray;
	}
}

.events > h2 {
	@include retina-image('../img/icons/icon-cal', 50px 54px);
	@include header-with-icon;
}

.projects > h2 {
	/* placeholder, until we get project icon image */
	@include retina-image('../img/icons/icon-cal', 50px 54px);
	@include header-with-icon;
}



.ribbon-box {
  @include size(350px);
  position: fixed;
  right: 0;
  z-index: 11;
  background: transparent;
  font-size: 14px;

  opacity: 0.95;
  transition:opacity 0.2s;

  &.fade {
   opacity:0.3;
   pointer-events: none;
	  button {
	  	display: none;
	  }
  }

  h2 {
  	font-family: $font-stack-body-text;
  }

  button {
  	border: $bg-gray;
  	border-radius: 5px;
  	color: black;
  	background-color: $bg-gray;
  	padding: 5px;
  	margin-bottom: 5px;
  }
}

.ribbon-wrapper {
  // $action-color: red !default;
  $action-color: rgb(255, 69, 69) !default;
  // $action-color: #477dca !default;
  $ribbon-background: $action-color;
  $ribbon-size: 375px;

  @include size($ribbon-size);
  overflow: hidden;
  position: absolute;
  right: -1px;
  top: -1px;

  .ribbon {
    background-color: $ribbon-background;
    // box-shadow: 0 0 3px rgba(#000, 0.3);
    color: #fff;
    font-size: 0.8em;
    right: -75px;
    line-height: 1.5em;
    padding: 2px 7px;
    position: relative;
    text-align: center;
    top: 55px;
    transform: rotate(45deg);
    width: 400px;
  }
}

/* software version in footer (preliminary style/location) */
#sw-version {
	color: $text-gray;
	font-size: small;
	text-align: right;
	margin-right: 15px;
}


.project-detail {

	header {
		@include grid-container;
        @include grid-collapse;

    	/* full width of container */
    	margin-left: 0;
    	margin-right: 0;
    	width: auto;

  		@include grid-push(3);
		@include grid-media($large-grid) {
			@include grid-container;
	        @include grid-collapse($large-grid);
	  		@include grid-push(3);
	  	}
	    @media (max-width: $small-max-width) {
	    	@include grid-push(0);
	    	/* full width of container */
	    	margin-left: 0;
	    	margin-right: 0;
	    	width: auto;
	    }

	  	.short_description {
	  		font-style: italic;

			margin-left: 0;
		    margin-right: 0;
	    	width: auto;

			@include grid-media($large-grid){
			    @include grid-column(7);
			    margin-left: 0;
			}

	  	}
	}
	.contributors {
		@include grid-column(3);
		@include grid-media($large-grid){
		    @include grid-column(3);
		}
	    @media (max-width: $small-max-width) {
	    	width: 100%;
	    }

	    @media (max-width: $small-max-width) {
	    	margin-left: 0;
	    	margin-right: 0;
	    	width: auto;
	    }

		ul {
			list-style-type: none;
			color: $text-gray;
			padding: 0;
		}

		h3 {
			font-weight: normal;
			font-style: italic;
			font-size: 18px;
			margin-bottom: 0;
		}
	}

	.description {
		@include grid-column(6);
		@include grid-media($large-grid){
		    @include grid-column(9);
		}

		@media (max-width: $small-max-width) {
	    	margin-left: 0;
	    	margin-right: 0;
	    	width: auto;
	    }

		img {
			max-width: 100%;
			margin: 50px auto;
		}
		p {
			margin-top: 0;
		}
	}


}

.blogpost {
	// margin-top: 340px; // currently handled by spacer div
	padding: 0;

	@include grid-media($large-grid) {
		@include grid-shift(2);
		@include grid-column(8);
	}

	h1 {
		margin-top: 0;
		margin-bottom: 50px;
	}
	p {
		margin-bottom: 50px;
	}

}