@import "grid-settings";
@import "bourbon/bourbon";
@import "neat/neat";
@import "variables";

body {
	background-color: $bg-gray;
	margin: 0;
	padding: 0;
	font-family: $font-stack-body-text;
	font-size: 20px;
	color: #000000;
	line-height: 1.6;
}

h1, h2, h3, h4 {
	font-family: $font-stack-headline-bold;
	font-weight: bold;
}

h3 {
	font-size: 28px;
	line-height: 1.29;
}

h4 {
	font-size: 20px;
	font-stretch: normal;
}

/* NOTE: labeled as .quote in zeplin, used for blog excerpt/call out in design */
q {
	font-family: Georgia;
	font-size: 21px;
	font-style: italic;
	line-height: 1.52;
	color: $text-gray;
}

/* Caption in zeplin */
figcaption {
	font-family: $font-stack-body-text; /* redundant? body font */
	font-size: 18px;
	font-style: italic;
	line-height: 1.33;
	text-align: center;
	color: $text-gray;
}

div.bleed-image-placeholder {
	width: 100%;
	height: 300px;
	max-width: 1440px;
	background-color: lightpink;
	z-index: -5;
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	margin-top: 90px;
	margin-left: auto;
	margin-right: auto;
}
header {
	width: 100%;
	height: 90px;
	max-width: 1440px;
	position: fixed;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.95);
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	transition: margin-top 0.25s;
	transition-timing-function: ease-in-out;
	z-index: 1;
	&.hidden {
		margin-top: -90px;
	}
	nav {
		margin: 8px;
		@include responsive-container;
		display: flex;
		flex-direction: row;
		a.home-page {
			width: 60px;
			height: 44.8px;
			margin-right: 36.2px;
			img {
				flex: auto;
				width: 60px;
				height: 44.8px;
			}
		}
	}
	section {
		display: flex;
		flex-direction: column;
		flex: auto;
		padding: 0;
		ul {
			display: flex;
			flex: auto;
			text-align: left;
			padding: 0;
			width: 100%;
			height: 15px;
			// Make sure margins behave for spacing between rows (~28 px)
			margin-bottom: 14px;
			margin-top: 14px;
			&.first-row {
				margin-top: 0;
				text-transform: uppercase;
				padding-bottom: 14px;
				border-bottom: solid 1px #d8d8d8;
				height: auto;
			}
			li {
				font-family: $font-stack-headline-bold;
				font-size: 12px;
				color: #000000;
				flex: auto;
				display: inline;
				a {
					color: #000000;
					text-decoration: none;
					padding-bottom: 13px;
					&:focus,
					&:hover,
					&:visited {
						text-decoration: none;
						color: #000000;
					}
					&.current-page {
						border-bottom: 4px;
						border-bottom-color: $cdh-blue;
						border-bottom-style: solid;
					}
				}
			}
		}
	}
}
div.spacer {
	height: 340px;
}

/* mixin for diagonal blue stripes background */
@mixin diagonal-blue-stripes {
	background: repeating-linear-gradient(
	  45deg,
	  white,
	  white 16px,
	  $cdh-blue 4px,
	  $cdh-blue 20px
	);
}

footer {
	padding-top: 150px;
	section {
		@include responsive-container;
		height: 261px;
		width: 100%;
		overflow: hidden;
		border-top: 1px;
		border-top-style: solid;
		border-top-color: #d8d8d8;
		p.contact-info {
			position: absolute;
			margin-top: 156px;
			font-family: $font-stack-headline;
			font-size: 12px;
			color: $text-gray;
		}
		ul {
			@include span-columns(2);
			@include omega(6n);
			display: flex;
			flex-direction: column;
			padding: 0;
			li {
				display: inline;
				flex: auto;
				color: #000000;
				margin-top: 6px;
				margin-bottom: 6px;
				margin-left: 0;
				font-family: $font-stack-headline;
				font-size: 12px;
				&.menu-header {
					font-family: $font-stack-headline-bold;
					text-transform: uppercase;
				}
				a {
					color: #000000;
					text-decoration: none;
					&:focus,
					&:hover,
					&:visited {
						text-decoration: none;
						color: #000000;
					}
					span.fa {
						font-size: 20px;
						height: 20px;
						width: 20px;
						color: $text-gray !important;
					}
				}
			}
		}
	}
}

article {
	padding-top: 90px;
	width: 100%;
	position: relative;

	header {
		/* NOTE: styles currently for landing pages, may need adjustment */
		width: 100%;
		max-width: none;
		height: 680px;
		position: relative;

		font-family: $font-stack-headline;
		font-size: 64px;
		color: #ffffff;
		text-align: left;
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;

  	    @include media($small) {
  	    	height: 320px;
  	    }

		div {
			padding-top: 350px;
	  	    @include media($small) {
				padding: 30px;
	  	    }
		}
		a.home {
			color: $cdh-blue;
			display: inline-block;
			font-weight: bold;
			text-decoration: none;
		}
		h1 {
			font-size: 100%;
			display: inline-block;
			margin-bottom: 10px;
		}
		p {
			margin-top: 0;
			font-size: 20px;
			/* FIXME: according to design font should be brown-std-alt ? */
		}
		p::before {
			content: "< ";
			color: $cdh-blue;
		}
		p::after {
			content: " >";
			color: $cdh-blue;
			display: inline;
		}
	}

	div {
		@include responsive-container();
	}

	#maincontent {
		margin-top: -116px;
		background-color: white;
		z-index: 4;  /* overlap background image from header */
		padding: 80px 170px 100px;
		position: relative;

  	    @include media($medium) {
  	    	padding: 80px 85px 100px;
  	    }

  	    @include media($small) {
  	    	margin-top: auto;
  	    	padding: 30px 30px 100px;
  	    }

	}
}

#maincontent {
	@include responsive-container();
}

/* card layouts - projects, events */


$event-card-height: 426px;
$event-card-img-height: 240px;

.card {
	position: relative;
	margin-bottom: 50px;
	@include diagonal-blue-stripes;

	h2 {   /* card-head in zeplin */
		font-family: $font-stack-headline-bold;
		font-size: 18px;
		color: #000000;
		margin-top: 0;
	}

	a {
		text-decoration: none;
		color: $text-gray;
		display: block;  /* make the whole card clickable */
		width: 100%;
		height: 100%;
	}

	.content {.  /* card-description font */
		font-family: $font-stack-headline;
		font-size: 16px;
		background-color: white;
	}

	/* event cards */
	&.event {
		@include span-columns(4);
		height: $event-card-height;
		/* background options for when an image is added in the template */
		background-size: cover;
		/* background-position: 50% 50%;  maybe? */
		background-repeat: no-repeat;

		.content {
			position: absolute;
			padding: 18px;
			top: $event-card-img-height;
			width: 100%;
			height: $event-card-height - $event-card-img-height;
		}

		.event-type {
			position: absolute;
			/* width: 104px; */
			z-index: 5;
			top: -12px;
			left: 15px;
			border: 2px solid $cdh-blue;
			box-shadow: 5px 5px 0px $cdh-blue;
			background-color: white;
			/* TODO:  font style not clear in zeplin */
			font-family: $font-stack-headline;
			font-size: 12px;
			padding: 5px;
		}
		.time {
			padding-left: 20px;
		}
		.presenter {
			min-height: 19px;
		}
	} /* end event card */

	/* project cards */
	&.project {
		@include span-columns(3);
		height: 170px;
		padding: 0;

		/* triangle top right */
		&::after {
			height: 0;
			border-top: 40px solid $bg-gray;
			border-left: 40px solid transparent;
			content: ' ';
			position: absolute;
			right: 0;
			top: 0;
		}

		/* triangle bottom left */
		&::before {
			width: 0;
			height: 0;
			border-bottom: 40px solid $bg-gray;
			border-right: 40px solid transparent;
			content: ' ';
			position: absolute;
			left: 0;
			bottom: 0;

		}

		&:hover {
			/* using important to override background image set in template */
		 	background: $cdh-blue !important;
		}
		a {
			background-color: white;
			width: 185px;
			height: 130px;
			padding: 12px 17px 0 14px;;
			margin: 0;
		}
		p {
			font-family: $font-stack-body-text;
			font-style: italic;
			font-size: 15px;
			color: $text-gray;
			line-height: 1.33;
		}


	}

}


.homepage section {
	display: block;
	clear: both;
}


.homepage section > h2 {
	/* font-family: BrownStd-Alt;    ?? */
	font-family: $font-stack-headline;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 54px;
	letter-spacing: normal;
	color: $text-gray;

	height: 54px;
	padding-left: 73px;
	vertical-align: middle;
	margin-bottom: 50px;

	background-repeat: no-repeat;

	a {
		text-decoration: none;
		color: $text-gray;
	}
}

.events > h2 {
	@include retina-image('../img/icons/icon-cal', 50px 54px);
}

.projects > h2 {
	/* placeholder, until we get project icon image */
	@include retina-image('../img/icons/icon-cal', 50px 54px);
}

